<% include partials/header %>

<div class="about__header">
        <div class="about__h1">
            <h1 class="header1 about__header1">
                    FILE NOT FOUND
            </h1>
        </div>
    </div>

<% include partials/footer %>