<% include partials/header %>

<main class="main-container">

<div class="header1 clubs__header">
    ARTS<br>EXHIBITS<br>AND<br>LIVE<br>SHOWS
</div>
<div class="showroom-col u-margin-top-big">
    <p class="showroom-text">
            Street Fandango curates show exhibition, planning invites, media and press contacts and much more. Contact info@streetfandango.it for further info, stay tuned!!!
    </p>
</div>

<div class="main-carousel" data-flickity='{ "cellAlign": "left" , "draggable": false , "wrapAround": true }'>
    <div class="carousel-cell">
        <img srcset="img/arts1-small.jpg 1000w, img/arts1.jpg 2000w" alt="Arts Image 1"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/arts1.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/arts2-small.jpg 1000w, img/arts2.jpg 2000w" alt="Arts Image 2"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/arts2.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/arts3-small.jpg 1000w, img/arts3.jpg 2000w" alt="Arts Image 3"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/arts3.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/arts4-small.jpg 1000w, img/arts4.jpg 2000w" alt="Arts Image 4"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/arts4.jpg"> 
    </div>
  </div>

  <div class="about__puzzle">
        <img srcset="img/arts5-small.jpg 1000w, img/arts5.jpg 2000w" alt="Arts Image 5" class="about__big-image"
             sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 800px" 
                     src="img/arts5.jpg">
        <img srcset="img/arts6-small.jpg 500w, img/arts6.jpg 1300w" alt="Arts Image 6" class="about__little-image"
             sizes="(max-width: 56.25em) 75vw, (min-width: 56.26em) 25vw, 300px" 
                     src="img/arts6.jpg">
    </div>  

</main>

<% include partials/footer %>