<% include partials/header %>

<main class="main-container">

<div class="clients">
    <ul class="clients-list">
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Calvin Kline</div>
            <div class="clients-image">
                <img srcset="img/client1-small.jpg 600w, img/client1.jpg 1200w" alt="Client Image 1"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client1.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Dolce &amp; Gabbana</div>
            <div class="clients-image">
                <img srcset="img/client2-small.jpg 600w, img/client2.jpg 1200w" alt="Client Image 2"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client2.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Valentino</div>
            <div class="clients-image">
                <img srcset="img/client3-small.jpg 600w, img/client3.jpg 1200w" alt="Client Image 3"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client3.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Chanel</div>
            <div class="clients-image">
                <img srcset="img/client4-small.jpg 600w, img/client4.jpg 1200w" alt="Client Image 4"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client4.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Louis Vitton</div>
            <div class="clients-image">
                <img srcset="img/client5-small.jpg 600w, img/client5.jpg 1200w" alt="Client Image 5"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client5.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Scarlett Ent.</div>
            <div class="clients-image">
                <img srcset="img/client6-small.jpg 600w, img/client6.jpg 1200w" alt="Client Image 6"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client6.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">USA Un. Club Ass.</div>
            <div class="clients-image">
                <img srcset="img/client7-small.jpg 600w, img/client7.jpg 1200w" alt="Client Image 7"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client7.jpg">
            </div>
        </li>
        <li class="clients-item">
            <div class="clients-text header2 navigation__link">Ibiza Fun Co.</div>
            <div class="clients-image">
                <img srcset="img/client8-small.jpg 600w, img/client8.jpg 1200w" alt="Client Image 8"
                sizes="(max-width: 80em) 40vw, 500px" 
                 src="img/client8.jpg">
            </div>
        </li>
    </ul>
</div>

</main>

<% include partials/footer %>