<% include partials/header %>

<main class="main-container">

<div class="header1 clubs__header">
    CLUB<br>EXHIBITS<br>AND<br>SHOWS
</div>

<div class="main-carousel" data-flickity='{ "cellAlign": "left" , "draggable": false , "wrapAround": true }'>
    <div class="carousel-cell">
        <img srcset="img/clubs1-small.jpg 1000w, img/clubs1.jpg 2000w" alt="Clubs Image 1"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/clubs1.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/clubs2-small.jpg 1000w, img/clubs2.jpg 2000w" alt="Clubs Image 2"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/clubs2.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/clubs3-small.jpg 1000w, img/clubs3.jpg 2000w" alt="Clubs Image 3"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/clubs3.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/clubs4-small.jpg 1000w, img/clubs4.jpg 2000w" alt="Clubs Image 4"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/clubs4.jpg"> 
    </div>
  </div>

  <div class="about__puzzle">
        <img srcset="img/clubs5-small.jpg 1000w, img/clubs5.jpg 2000w" alt="Clubs Image 5" class="about__big-image"
        sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 800px" 
                src="img/clubs5.jpg">
  </div>
   
</main>

<% include partials/footer %>