<% include partials/header %>

<main class="main-container">

<div class="showroom-col u-margin-top-huge">
    <p class="showroom-text">
        Street Fandango can offer a wide selection of the greatest models over Milan, NY, L.A. zones and at request can cope with every kind of peculiar issue you might desire to solve.
    </p>
</div>

<div class="main-carousel" data-flickity='{ "cellAlign": "left" , "draggable": false , "wrapAround": true }'>
    <div class="carousel-cell">
        <img srcset="img/modelling1-small.jpg 1000w, img/modelling1.jpg 2000w" alt="Model Image 1"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/modelling1.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/modelling2-small.jpg 1000w, img/modelling2.jpg 2000w" alt="Streetware Image 2"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/modelling2.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/modelling3-small.jpg 1000w, img/modelling3.jpg 2000w" alt="Streetware Image 3"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/modelling3.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/modelling4-small.jpg 1000w, img/modelling4.jpg 2000w" alt="Streetware Image 4"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/modelling4.jpg"> 
    </div>
  </div>

  <div class="about__puzzle">
        <img srcset="img/modelling5-small.jpg 1000w, img/modelling5.jpg 2000w" alt="Streetware Image 7" class="about__big-image"
        sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 800px" 
                src="img/modelling5.jpg">
        <img srcset="img/modelling6-small.jpg 500w, img/modelling6.jpg 1500w" alt="Streetware Image 8" class="about__little-image"
                sizes="(max-width: 56.25em) 75vw, (min-width: 56.26em) 25vw, 300px" 
                src="img/modelling6.jpg">
  </div>
   
</main>

<% include partials/footer %>