<% include partials/header %>

<main class="main-container">

<div class="projects__grid">

    <a href="/streetware" class="projects__container">
            <img srcset="img/img1-small.jpg 1000w, img/img1.jpg 2000w" alt="Project Image 1"
                sizes="(max-width: 50em) 100vw, (min-width: 50.01em) 50vw, 600px" 
                src="img/img1.jpg">
        <div class="projects__text projects__text-green">
            <div class="header2 projects__header2">
                STREETWARE<br>GUERRILLA<br><br>URBAN<br>TRENDS
            </div>
        </div>
    </a>
    <a href="/modelling" class="projects__container">
            <img srcset="img/client2-small.jpg 600w, img/client2.jpg 1200w" alt="Project Image 2"
                sizes="(max-width: 50em) 100vw, (min-width: 50.01em) 50vw, 600px" 
                src="img/client2.jpg">
        <div class="projects__text projects__text-red">
            <div class="header2 projects__header2">
                Modelling<br>Expertise<br><br>Models<br>experience
            </div>
        </div>
    </a>     
    <a href="/clubs" class="projects__container">
        <img srcset="img/img6.jpg 1500w" alt="Project Image 3"
                sizes="(max-width: 50em) 100vw, (min-width: 50.01em) 50vw, 600px" 
                src="img/img6.jpg">
        <div class="projects__text projects__text-pink">
            <div class="header2 projects__header2">
                Club<br>dance hall<br><br>live<br>shows
            </div>
        </div>
    </a>   
    <a href="/arts" class="projects__container">
        <img srcset="img/img8-small.jpg 900w, img/img8.jpg 1800w" alt="Project Image 4"
                sizes="(max-width: 50em) 100vw, (min-width: 50.01em) 50vw, 600px" 
                src="img/img8.jpg">
        <div class="projects__text projects__text-grey">
            <div class="header2 projects__header2">
                Art<br><br>performances
            </div>
        </div>
    </a>  
</div>

</main>

<% include partials/footer %>