<% include partials/header %>

<main class="main-container">

<div class="main-carousel" data-flickity='{ "cellAlign": "left" , "draggable": false , "wrapAround": true }'>
    <div class="carousel-cell">
        <img srcset="img/showroom1-small.jpg 1000w, img/showroom1.jpg 2000w" alt="Showroom Image 1"
             sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
                     src="img/showroom1.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/showroom2-small.jpg 1000w, img/showroom2.jpg 2000w" alt="Showroom Image 2"
             sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
                     src="img/showroom2.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/showroom3-small.jpg 1000w, img/showroom3.jpg 2000w" alt="Showroom Image 3"
             sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
                     src="img/showroom3.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/showroom4-small.jpg 1000w, img/showroom4.jpg 2000w" alt="Showroom Image 4"
             sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
                     src="img/showroom4.jpg">
    </div>
  </div>

  <div class="showroom-col">
      <p class="showroom-text">
        Street Fandango has a large showroom situated in the very center of Milany, Italy. This space can transform to suit our clients needs. We host fashion shows, media days, brand launches. parties and many large scale events. For enquiries please contact: info@streetfandango.it
      </p>
  </div>
   
</main>

<% include partials/footer %>