<% include partials/header %>

<main class="main-container">

<div class="main-carousel" data-flickity='{ "cellAlign": "left" , "draggable": false , "wrapAround": true }'>
    <div class="carousel-cell">
        <img srcset="img/streetware1-small.jpg 1000w, img/streetware1.jpg 2000w" alt="Streetware Image 1"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/streetware1.jpg">
    </div>
    <div class="carousel-cell">
        <img srcset="img/streetware2-small.jpg 1000w, img/streetware2.jpg 2000w" alt="Streetware Image 2"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/streetware2.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/streetware3-small.jpg 1000w, img/streetware3.jpg 2000w" alt="Streetware Image 3"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/streetware3.jpg">
    </div>
    <div class="carousel-cell">    
        <img srcset="img/streetware4-small.jpg 1000w, img/streetware4.jpg 2000w" alt="Streetware Image 4"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/streetware4.jpg"> 
    </div>
    <div class="carousel-cell"> 
        <img srcset="img/streetware5-small.jpg 1000w, img/streetware5.jpg 2000w" alt="Streetware Image 5"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/streetware5.jpg">
    </div>
    <div class="carousel-cell"> 
        <img srcset="img/streetware6-small.jpg 1000w, img/streetware6.jpg 2000w" alt="Streetware Image 6"
            sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 900px" 
            src="img/streetware6.jpg">
    </div>
  </div>

  <div class="showroom-col">
      <p class="showroom-text">
        Street Fandango spreads its resources among a huge, up-to-date, ever-growing street fashion material. Look upon your preferred outfit! Contact us at info@streetfandango.it
      </p>
  </div>

  <div class="about__puzzle">
        <img srcset="img/streetware7-small.jpg 1000w, img/streetware7.jpg 2000w" alt="Streetware Image 7" class="about__big-image"
        sizes="(max-width: 56.25em) 100vw, (min-width: 56.26em) 75vw, 800px" 
                src="img/streetware7.jpg">
        <img srcset="img/streetware8-small.jpg 500w, img/streetware8.jpg 1500w" alt="Streetware Image 8" class="about__little-image"
                sizes="(max-width: 56.25em) 75vw, (min-width: 56.26em) 25vw, 300px" 
                src="img/streetware8.jpg">
  </div>
   
</main>

<% include partials/footer %>